---
---

@charset "utf-8";

// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// variables.less
$theme-primary: #F05F40;
$theme-dark: #222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;

@media only screen and (max-width : 1200px) {
	.dropdown-menu  { width: 960px }
	.menu-home   { left:-580px !important; }
	.menu-books   { left:-304.5px !important; }
	.menu-computer   { left:-394.5px !important; }
	.menu-supply   { left:-517px !important;  }
	.menu-razorbackshop   { left:-621px !important;}
	.menu-grad   { left:-772px !important; }
	
	/*
	.menu-current-students   { left:-167px !important;}
	.menu-academics   { left:-427px !important; }
	.menu-research   { left:-546px !important; }
	.menu-alumni   { left:-729px !important; top:57px; }
*/
	.dropdown-heading {font-size: 18px !important;}  
}
@media only screen and (max-width : 1000px) {
	.dropdown-menu  { max-width: 768px; width: 100%;}
	
	.menu-home   { left:-346px !important; }
	.menu-books   { left:-276px !important; }
	.menu-computer   { left:-325.5px !important; }
	.menu-supply   { left:-401.5px !important;  }
	.menu-razorbackshop   { left:-462px !important;}
	.menu-grad   { left:-563.5px !important; }

	.dropdown-heading {font-size: 16.4px !important;} 
	.dropdown-menu .media img {max-width: 100px;}
}


.dropdown-menu  {
  width:960px;
  padding-left: 28px;
  padding-right: 16px;
  padding-top: 19px; 
  padding-bottom: 40px;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(220, 220, 220, 1);
  border-top: 0px;
}
@media only screen and (min-width : 1201px) {
.menu-home   { left:-577px !important; }
}
