  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
                <h1 class="section-heading text-center">Portfolio</h1><hr class="primary">
        <div class="row no-gutter">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="http://uofastore.com" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/uofabookstore.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                University of Arkansas Bookstore
                            </div>
                            <div class="project-category text-faded">
                                홈페이지 제작, 온라인/오프라인 광고, 소셜 미디어/이메일 마케팅
                            </div>
                            
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="https://ibcdwoodwork.com" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/ibcdWoodwork.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                 IBCD Woodwork Kromer
                            </div>
                            <div class="project-category text-faded">
                                온라인 쇼핑몰 제작
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="http://pocsports.com/us/home/" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/poc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                POC Sports 
                            </div>
                            <div class="project-category text-faded">
                                온라인 광고, 소셜 미디어/이메일 마케팅
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="http://bikerackbrewing.com" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/bikerackbrewing.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Bike Rack Brewing CO.
                            </div>
                            <div class="project-category text-faded">
                                홈페이지 제작
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="http://mountainkhakis.com" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/mountainkhakis.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Mountain Khakis
                            </div>
                            <div class="project-category text-faded">
                                온라인 광고, 소셜 미디어/이메일 마케팅
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="https://www.downlinens.com/" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/downlinens.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Downlinens 
                            </div>
                            <div class="project-category text-faded">
                                쇼핑몰 관리, 온라인 광고, 소셜 미디어/이메일 마케팅
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="http://ibcd.net" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/ibcd.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Institute for Biblical Institute 
                            </div>
                            <div class="project-category text-faded">
                                홈페이지 제작
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="https://klymit.com" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/klymit.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Klymit 
                            </div>
                            <div class="project-category text-faded">
                                쇼핑몰 관리, 온라인 광고, 소셜 미디어/이메일 마케팅
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
                <a href="https://nwacc.edu/web/nwacc/home" class="portfolio-box" target="_blank" >
                    <img src="https://kwans9.github.io/img/portfolio/nwacc.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Northwest Arkansas Community College 
                            </div>
                            <div class="project-category text-faded">
                                홈페이지 디자인
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
